PORT=3000
DATABASE_URL=postgresql://postgres:5432/datains?user=datains&password=<datains_password>
WORKDIR=/data

# App Store
APP_STORE_ACCESS_TOKEN=
APP_STORE_HOST=choppy.3steps.cn
APP_STORE_PORT=80
APP_STORE_USER_NAME=choppy
APP_STORE_PASSWORD=

# App
APP_UTILITY_BIN=/app/external

# Cromwell
CROMWELL__URL=http://localhost
CROMWELL__TOKEN=

# Dingtalk
DINGTALK_ACCESS_TOKEN=
DINGTALK_SECRET=