# 日子目录
LOG_PATH=/tmp/yapi.log
# 管理员邮箱
ADMIN_EMAIL=example@163.com
# 绑定邮件发送者邮箱
SENDER_EMAIL=example@163.com
# 发送者邮箱密码
EMAIL_PASSWORD=your_password
# LDAP服务(默认开启)
LDAP_SERVER=ldap\:\/\/l\-ldapt1\.com
# 
LDAP_BASEDN=CN\=Admin\,CN\=Users\,DC\=test\,DC\=com
# 
LDAP_PASSWORD=password123
# 
LDAP_SEARCHDN=OU\=UserContainer\,DC\=test\,DC\=com
# 
LDAP_SEARCH_STANDARD=""
# 指定YAPI版本，务必依据实际需要修改
VERSION=1.8.5
# 指定Docker构建镜像的Tag，依据Version修改。建议采用{VERSION}-{COMMIT_ID}的形式
YAPI_BUILD_VERSION=v1.8.5-cd990a6
YAPI_DOCKER_REPO=registry.cn-shanghai.aliyuncs.com/pgx-docker-registry/yapi