VERSION=1.8.5
LOG_PATH=/tmp/yapi.log
ADMIN_EMAIL=example@163.com
DB_SERVER=mongo
DB_NAME=yapi
DB_PORT=27017
EMAIL=example@163.com
EMAIL_PASSWORD=your_password
LDAP_SERVER=ldap://l-ldapt1.com
LDAP_BASEDN="CN=Admin,CN=Users,DC=test,DC=com"
LDAP_PASSWORD="password123"
LDAP_SEARCHDN="OU=UserContainer,DC=test,DC=com"
LDAP_SEARCH_STANDARD=""