;; WARNING
;; The dev-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:dev                    false
 :port                   3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port             7000

                                        ; set your dev database connection URL here
 :database-url           "postgresql://postgres:5432/datains?user=datains_user&password=datains_password"
 :datains-workdir        "/data/minio"
 :app-store-access-token "xxxx"
 :app-store-host         "app-store.example.com"
 :app-store-port         80
 :app-utility-bin        "/app/external:/app/external/.env/bin:$PATH"
 :app-store-username     "xxxx"
 :app-store-password     "xxxx"
 :fs-services [{:fs-service             "minio"
                :fs-endpoint            "http://example.com:9000"
                :fs-access-key          "pgx-lab"
                :fs-secret-key          "xxxx"
                :fs-rootdir             "/data/minio"}
               {:fs-service             "oss"
                :fs-endpoint            "http://oss-cn-shanghai.aliyuncs.com"
                :fs-access-key          "xxxx"
                :fs-secret-key          "xxxx"
                :fs-rootdir             ""}]
 :default-fs-service "minio"
 :mongo-uri              "mongodb://datains:password@mongodb:27017/datains"
 :mongo-collection       "datains"
 :tservice               "http://example.com:3001"
 :cromwell               {:url    "http://example.com:8000"
                          :token  ""
                          :labels [:data_type
                                   :project
                                   :regulatory_designation
                                   :sample_name
                                   :version]}
 :tasks                  {:submit-jobs {:cron "0 */1 * * * ?"}
                          :sync-jobs   {:cron "0 */1 * * * ?"}
                          :sync-apps   {:cron "0 */1 * * * ?"}
                          :sync-projects {:cron "0 */1 * * * ?"}
                          :submit-reports {:cron "0 */1 * * * ?"}}
 :dingtalk-access-token  "xxxx"
 :dingtalk-secret        "xxxx"}
