;; WARNING
;; The dev-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :database-url "postgresql://postgres:5432/tservice?user=tservice&password=password"
 ;; Shiny Server
 :proxy-server-dir "XXX/shiny-server/mountpoints/apps/"
 :proxy-server "http://XXX/"
 :external-bin "/tservice-plugins/external/.env/bin:$PATH"
 :tservice-workdir "/data/minio/tservice"
 :tservice-plugin-path "/tservice-plugins"
 :fs-services [{:fs-service             "minio"
                :fs-endpoint            "http://example.com:9000"
                :fs-access-key          "xxxx"
                :fs-secret-key          "xxxx"
                :fs-rootdir             "/data/minio"}
               {:fs-service             "oss"
                :fs-endpoint            "http://oss-cn-shanghai.aliyuncs.com"
                :fs-access-key          "xxxx"
                :fs-secret-key          "xxxx"
                :fs-rootdir             ""}]
 :default-fs-service "minio"}
